@include aoa-bg-series($bg__init,$classes_init);

.about{
    &-s3{
        background-blend-mode: multiply !important;
        background-color: #999 !important;
    }
}
.bg{
    &-dark-pink{
        background-color: $color__dark-pink !important;
    }
    &-footer{
        @include set-background($bg__footer-img,0,"center left","cover","scroll");
    }
    &-light-pink{
        background-color: $color__light-pink !important;
    }
}
.border{
    &-dark-pink{
        border-color: $color__dark-pink !important;
    }
    &-light-pink{
        border-color: $color__light-pink !important;
    }
}
.contact{
    &-s3{
        background-blend-mode: multiply !important;
        background-color: #444 !important;
    }
}
.login{
    &-form{
        @include set-background($bg__login-img,0,"top left","cover","fixed");
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.products{
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
.text{
    &-dark-pink{
        color: $color__dark-pink !important;
    }
    &-light-pink{
        color: $color__light-pink !important;
    }
}
nav{
    z-index: 10;
}
textarea{
    resize: none;
}
@media all and (max-width: 767px){
    .about{
        &-s1,&-s2,&-s3{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1,&-s3{
            background-position: right!important;
        }
    }
    .contact{
        &-s1{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
    }
    .index{
        &-s1{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
    }
    .navbar{
        &-toggler{
            background-color: #666;
            border-color: #333;
        }
        &-nav{
            background-color: #666;
            border: 1px solid #333;
            opacity: 0.9;
            padding: 10px
        }
    }
    .products{
        &-s1,&-s2{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1{
            background-position: right!important;
        }
    }
}